services:
  postgres:
    container_name: ai-learn
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dev
    ports:
      - "5432:5432"
    volumes:
      - db_ai-learn:/var/lib/postgresql/data

volumes:
  db_ai-learn:
